# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Graph-explorer since that is from github https://github.com/DataTreehouse/graph-explorer - changes here must be controlled and follow their PR process
graph-explorer/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log
docker-compose.override.yml

# Output files
output/*.ttl
output/*.rdf
output/*.json

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
